body{
    background-color: black;
    overflow-x: hidden;
}
.color{
    height: 550px;
    width: 650px;
    background-image: radial-gradient(closest-side, rgba(255, 234, 234, 0.144), #000);
    position: absolute;
    top: -150px;
    left: 15%;
    z-index: -1; /* esto es para colocar el gradiente detras */
}
